.rev {
    padding-top: 98px;
    padding-bottom: 72px;
    background: url(../../imgs/rev-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 63px;
    padding-left: 68px;
    padding-right: 47px;

    &__cards {
        display: flex;
        justify-content: space-between;
        gap: 70px;
    }

    &__card {
        
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 536px;
        border-radius: 9px;
        background: #fff;
    }


    &__text {
        @include font (18px, 300);
        color: #000;
        padding-top: 63px;

    }

    &__name {
        @include font (13px, 300);
        color: #8e8e8e;
        padding-bottom: 21px;
    }

    &__line {
        margin-top: 21px;
        margin-bottom: 9px;
    }

    &__cardbot {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__avatar {
        position: absolute;
        left: 35%;
        bottom: 80%;
        width: 25%;
    }
}

@media (max-width:768px) {
    .rev {
        &__cards {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

       
        

        &__avatar {
            width: 25%;
            left: 35%;
            bottom: 50%;
        }

        &__text {
            @include font (18px, 300);
            max-width: 445px;
            padding-top: 35px;
            padding-left: 44px;
        }

        &__line {
            margin-top: 10px;
            max-width: 130px;
            margin-bottom: 5px;
        }

        &__name {
            padding-bottom: 10px;
            @include font (13px,300);
        }
    }
}